<label>檢查名稱:</label>
<input type="text" id="CompanyName" onkeyup="keyup()"/>
<span id="result"></span>
<img id="progress" src="~/images/ghost.gif" asp-append-version="true" style="display:none" />

@section Scripts
{
	<script>
		function keyup(){
			var xmlHttp = new XMLHttpRequest();
			if (xmlHttp != null) {
				var p=`CompanyName=${document.getElementById("CompanyName").value}`;
				xmlHttp.open("POST", "https://localhost:7093/Ajax/CheckName", true);
				xmlHttp.onreadystatechange = function () {
					if (xmlHttp.readyState == 4) {
						if (xmlHttp.status == 200){
							if(xmlHttp.responseText=="true"){
								document.getElementById("result").innerText ="公司名稱已登記" 	;
							}else{
								document.getElementById("result").innerText ="公司名稱未登記" 	;
							}
							
							document.getElementById("progress").style.display = "none";
						}
					}
				}

				xmlHttp.setRequestHeader("content-type","application/x-www-form-urlencoded")
				document.getElementById("progress").style.display = "inline";
				xmlHttp.send(p);


			}
			else {
				alert("瀏覽器不支援XMLHttpRequest")
			}
		}
	</script>
}