<button id="getEmployees" class="btn btn-primary">GetEmployees</button>
<button id="getEmployeeById" class="btn btn-primary">GetEmployeesById</button>
<input type="text" id="employeeid"/>
<div id="employees"></div>
@section Scripts
{
	<script>
		$("#getEmployees").on("click", function () {
			$.ajax({
				type:"GET",
				url: "https://localhost:7183/api/Employees"
			}).done(function(data){
				alert(JSON.stringify(data));
			}).fail(function(err){
				alert(err.statusText);
			})
		});
		$("#getEmployeeById").on("click", function(){
			$.ajax({
				type:"GET",
				url: `https://localhost:7183/api/Employees/{$("#employeeid").val()}`
			}).done(function(data){
				alert(JSON.stringify(data));
			}).fail(function(err){
				alert(err.statusText);
			})
		});
	</script>
}