@section Styles
	{
	<style>
		thead {
			background-color: maroon;
			color: white;
		}
	</style>
}

<table class="table table-hover table-striped">
	<thead>
		<tr>
			<td>EmployeeId</td>
			<td>FirstName</td>
			<td>LastName</td>
			<td>Title</td>
		</tr>
	</thead>
</table>
@section Scripts
	{
	<script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
	<script src="https://cdn.datatables.net/fixedheader/3.3.1/js/dataTables.fixedHeader.min.js"></script>
	<script>
		$(document).ready(function () {
			$("table").dataTable({
				ajax: {
					type: "GET",
					url: "https://localhost:7183/api/Employees",
					dataSrc: function (json) {
						return json;
					}
				},
				columns: [
					{ "data": "employeeId", "width": "25%" },
					{ "data": "firstName", "width": "25%" },
					{ "data": "lastName", "width": "25%" },
					{ "data": "title", "width": "25%" }
				],
				fixedHeader: {
					header: true
				},
				language: {
					url: "https://cdn.datatables.net/plug-ins/1.13.1/i18n/zh-HANT.json"
				}
			});
		});
	</script>
}
