<label>檢查名稱:</label>
<input type="text" id="CompanyName" onkeyup="keyup()"/>
<span id="result"></span>
<img id="progress" src="~/images/ghost.gif" asp-append-version="true" style="display:none" />

@section Scripts
{
	<script>
		function keyup() {
		$("#progress").show();
			$.ajax({
				type: "POST",
				data:{
					CompanyName:$("#CompanyName").val()
				},
				url: "https://localhost:7093/Ajax/CheckName" ,
			}).done(function (data) {
				if(data=="true"){
					$("#result").text("公司已登記");
				}else{
					$("#result").text("公司未登記");
				}
				
				$("#progress").hide();
			}).fail(function (err) {
				alert(err.statusText);
			});}
	</script>
}