@section Styles
{
	<style>
		thead{
			background-color:maroon;
			color:white;
		}
	</style>
}

<table class="table table-hover table-striped">
	<thead>
		<tr>
			<td>Site</td>
			<td>County</td>
			<td>PM2.5</td>
			<td>CreationDate</td>
		</tr>
	</thead>
</table>
@section Scripts
{
	<script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
	<script src="https://cdn.datatables.net/fixedheader/3.3.1/js/dataTables.fixedHeader.min.js"></script>
	<script>
		$(document).ready(function(){
			$("table").dataTable({
				ajax:{
					type:"GET",
					url: "https://localhost:7093/PM25.json",
					dataSrc:function(json){
						return json["records"];
					}
				},
				columns:[
					{"data":"site","width":"25%"},
					{ "data": "county", "width": "25%" },
					{ "data": "pm25", "width": "25%" },
					{ "data": "datacreationdate", "width": "25%" }
				],
				fixedHeader:{
				header:true},
				language:{
					url:"https://cdn.datatables.net/plug-ins/1.13.1/i18n/zh-HANT.json"
				}
			});
		});
	</script>
}
